/********** Base styles **********/
.menusection {
border: 8px solid;
border-color: #ff8566;
height: auto;
}

p.menudetail {
  border: none;
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 10px;
  color: black;
}

#ChickenSection {
  background-color: #ccff66;
}
#BeefSection {
  background-color: #66ffb3;
}
#SushiSection {
  background-color: #66ffff;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
  border: 0;
  padding-left: 30px;
}
/********** Desktop devices only **********/
@media (min-width: @screen-md-min) {
    .col-md-4 {
      float: left;
  }
}
/********** Tablet devices only **********/
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .col-sm-6, .col-sm-12 {
    float: left;
  }

@media (max-width: @screen-xs-max){
  #BeefSection {
    position: absolute;
  }
}