body {
  font-size: 16px;
  color: black;
  background-color: #ff8566;
}

/** HEADER **/
#header-nav {
  background-color: #85a3e0;
  border-radius: 0;
  border: 2px solid white;
}

.navbar-brand {
  padding-top: 10px;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  outline: 0;
}
.navbar-nav {
  margin: 0px -15px;
}
#nav-list {
  margin-top: 0px;
}
#nav-list a {
  border: 1px solid white;
  color: black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-default button.navbar-toggle, .icon-bar {
  border: 2px solid black;
}
/*
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 0px;
}

/* END HEADER */


/* HOME PAGE */
.container  {
  margin-left: 5px;
  border: 0;

}
/* END HOME PAGE */
  /* End Header */

